<section class="mySection">
    <div class="vh-100 myImagee">
        <div class=" main-header position-absolute d-flex flex-column align-items-center text-center">
            <figure class="round-img">
                <img src="assets/images/Group-560.png" class="w-75" alt="garpage">
            </figure>
            <button class="btn expert-button">Experts</button>
            <h1>
                Lorem <br>
                <span  >Lorem lorem</span>
            </h1>
            <p class="w-50">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
            </p>
            <button class="main-button btn">Help me</button>
        </div>
    </div>
</section>


<!-- About us -->

<div  class="my-5 where  ">
    <div class="img">
        <div class="container ">
            <div class="layer row ">
                <h2>About Us</h2>
                <div class="col-md-6">
                    <div class="secondryHeader">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an 
                        </p>
                        <figure>
                            <img src="assets/images/Rectangle-263.png" alt="garpage">
                        </figure>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="secondSection">
                        <h3>Where</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-center">
                <button class="diffrentBtn btn btn-warning">Help me</button>
            </div>
        </div>
    </div>
</div>


<!-- service -->
<div class="omar">
    <div class="myNotch">
        <div class="notch top-left"></div>
        <div class="notch top-right"></div>
        <div class="notch bottom-left"></div>
        <div class="notch bottom-right"></div>
        <div class="lines">
          <h1 class=" services justify">Services</h1>
        </div>
    </div>      
</div>


<section class="unique">
    <div class="container">
        <div class="row  gap-5 justify-content-center ">
            <div class="card p-0" style="width: 18rem;">
                <img  src="/assets/images/Rectangle-250.png" class="card-img-top w-100" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Lorem lorem</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  
                </div>
              </div>

              <div class="card p-0" style="width: 18rem;">
                <img  src="/assets/images/Rectangle-251.png" class="card-img-top w-100" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Lorem lorem</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  
                </div>
              </div>

              <div class="card p-0" style="width: 18rem;">
                <img  src="/assets/images/Rectangle-252.png" class="card-img-top w-100" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Lorem lorem</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  
                </div>
              </div>    
        </div>  
    </div>

    <div class="d-flex align-items-center justify-content-center toAdjust">
        <button class="main-button btn btn-warning">Help me</button>
    </div>
</section>

<!-- Testmonials -->
<div class="omar">
    <div class="myNotch">
        <div class="notch top-left"></div>
        <div class="notch top-right"></div>
        <div class="notch bottom-left"></div>
        <div class="notch bottom-right"></div>
        <div class="lines">
        <h1 class=" services justify">Testmonil</h1>
    </div>
   </div>
        
        
</div>

<section class="testy">
    <div class="container">        
        <div class="mb-4 row ">
           <div class="col-md-6">
            <div class="partOne">
                <div class="row px-2">
                    <div class="col-md-2 ">
                        <img class="adjustImge" src="assets/images/Ellipse-1.png" alt="">
                    </div>
                    <div class="col-md-10">
                        <h4>Courtney Henry</h4>
                        <p class="mypes">lormjsjsjsjsjsjsjsjsjsjsksksksksksksksksksks</p>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>
            </div>
            
           </div>

           <div class="col-md-6">
            <div class="partOne">
                <div class="row px-2">
                    <div class="col-md-2 ">
                        <img class="adjustImge" src="assets/images/Ellipse-1.png" alt="">
                    </div>
                    <div class="col-md-10">
                        <h4>Courtney Henry</h4>
                        <p class="mypes">lormjsjsjsjsjsjsjsjsjsjsksksksksksksksksksks</p>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>
            </div>
            </div>  
        </div>

        <div class="row ">
            <div class="col-md-6">
             <div class="partOne">
                 <div class="row px-2">
                     <div class="col-md-2 ">
                         <img class="adjustImge" src="assets/images/Ellipse-1.png" alt="">
                     </div>
                     <div class="col-md-10">
                         <h4>Courtney Henry</h4>
                         <p class="mypes">lormjsjsjsjsjsjsjsjsjsjsksksksksksksksksksks</p>
                         <span class="fa fa-star checked"></span>
                         <span class="fa fa-star checked"></span>
                         <span class="fa fa-star checked"></span>
                         <span class="fa fa-star"></span>
                         <span class="fa fa-star"></span>
                     </div>
                 </div>
             </div>
            </div>
 
            <div class="col-md-6">
             <div class="partOne">
                 <div class="row px-2">
                     <div class="col-md-2 ">
                         <img class="adjustImge" src="assets/images/Ellipse-1.png" alt="">
                     </div>
                     <div class="col-md-10">
                         <h4>Courtney Henry</h4>
                         <p class="mypes">lormjsjsjsjsjsjsjsjsjsjsksksksksksksksksksks</p>
                         <span class="fa fa-star checked"></span>
                         <span class="fa fa-star checked"></span>
                         <span class="fa fa-star checked"></span>
                         <span class="fa fa-star"></span>
                         <span class="fa fa-star"></span>
                     </div>
                 </div>
             </div>
             
            </div>
            
     
            
            
         </div>
    </div>
</section>

<!-- contact us -->




<div class="omar">
    <div class="myNotch toFinish">
        <div class="notch top-left"></div>
        <div class="notch top-right"></div>
        <div class="notch bottom-left"></div>
        <div class="notch bottom-right"></div>
        <div class="lines">
          <h1 class=" services justify">Contact</h1>
        </div>
   </div>
</div>

<section class="finish">
    <div class="container"> 
        <div class="row">
            <div class="col-md-6">
                <form [formGroup]="myForm" (ngSubmit)="checkToRegister()"  class="myForms" action="">
                    <input formControlName="name" placeholder="Name" class="form-control mb-3 w-75" type="name">
                    <div *ngIf="myForm.get('name')?.touched && myForm.get('name')?.errors"
                    class="mt-2 alert alert-danger p-2 ">
                    <span *ngIf="myForm.get('name')?.getError('required')">name is required</span>
                    <span *ngIf="myForm.get('name')?.getError('minlength')">Min length 3</span>
                    <span *ngIf="myForm.get('name')?.getError('maxlength')">Max length 20</span>
                    
                    </div>
                 
                    <input formControlName="email" placeholder="Email" class="form-control mb-3 w-75"  type="email">
                    <div *ngIf="myForm.get('email')?.touched && myForm.get('email')?.errors"
                    class="mt-2 alert alert-danger p-2 ">
                    <span *ngIf="myForm.get('email')?.getError('required')">Email is required</span>
                    <p *ngIf="myForm.get('email')?.errors?.['email']" class="m-0">Enter a valid Email</p>                   
                    </div>
                    <input formControlName="phone" placeholder="Phone" class="form-control w-75" type="phone">
                    <div *ngIf="myForm.get('phone')?.touched && myForm.get('phone')?.errors" class="mt-2 alert alert-danger p-2 ">
                        <p *ngIf="myForm.get('phone')?.getError('required')">Phone is requierd</p>
                        <p *ngIf="myForm.get('phone')?.getError('pattern')">you must match the pattern</p>
        
                     </div>
                     <p>{{myMessage}}</p>
                    <button type="submit" class="btn mt-2 sendBtn ">Send</button>

                </form>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <i class="fas fa-envelope myIcons"></i>

                    </div>
                    <div class="col-md-6">
                     <p>Upskilling.eg1@gmail.com</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <i class="fa-solid fa-phone myIcons"></i>
                    </div>
                    <div class="col-md-6">
                        <p>+201154932137</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="footer"></div>














