/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/css/all.css";



:root {
    --main-bg: #6D91EE;
    --secondry-color: #CEDCFF;


}


body{
    /* background-color: var(--main-bg); */
    /* font-family: ; */
}

.main-header {

}

.main-button {
    color: #fff;
    border-radius: 71px;
    padding: 15px 50px;
    background-color: var(--main-bg);
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin-top: 20px;
}

.main-button:hover {
    color: #fff;
    background-color: var(--main-bg);
}
